# Predicting Cardiovascular Disease

In [1]:
#Import Modules
from path import Path
import pandas as pd
import numpy as np

In [2]:
# Import csv file 
data = Path('/Users/Maryam/Desktop/utor-virt-data-pt-06-2020-u-b/cardio_final_project/cardio_train.csv')
df = pd.read_csv(data)
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

 ## Clean the data

In [3]:
df.set_index('id', inplace=True)
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [4]:
# Columns
df.columns

Index(['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol',
       'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [5]:
#Type of data
df.dtypes

age              int64
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
gluc             int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object

In [6]:
#Find null values
for column in df.columns:
    print(f"Column {column} has {df[column].isnull().sum()} null values" )

Column age has 0 null values
Column gender has 0 null values
Column height has 0 null values
Column weight has 0 null values
Column ap_hi has 0 null values
Column ap_lo has 0 null values
Column cholesterol has 0 null values
Column gluc has 0 null values
Column smoke has 0 null values
Column alco has 0 null values
Column active has 0 null values
Column cardio has 0 null values

In [7]:
y = df["cardio"]
X = df.drop(columns="cardio")

### Split our data into training and testing

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(52500, 11)

# Create a Logistic Regression Model

In [9]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=1000,
                                random_state=1)

## Fit (train) or model using the training data

In [10]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=1)

## Make predictions

In [11]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            1       0
1            1       1
2            1       0
3            1       1
4            1       1
5            1       1
6            0       0
7            0       1
8            1       1
9            0       0
10           1       0
11           0       0
12           0       0
13           1       1
14           1       1
15           0       0
16           1       0
17           0       1
18           1       0
19           1       1

In [12]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.6924571428571429

In [13]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[6356 2399]
 [2983 5762]]

In [14]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.68      0.73      0.70      8755
           1       0.71      0.66      0.68      8745

    accuracy                           0.69     17500
   macro avg       0.69      0.69      0.69     17500
weighted avg       0.69      0.69      0.69     17500

In [15]:
## Implementing Support Vector Machines Model

In [16]:
## Scale the data

In [17]:
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

In [18]:
data_scaled = data_scaler.fit_transform(df)

In [19]:
data_scaled[:5]

array([[-0.43606151,  1.36405487,  0.44345206, -0.84787326, -0.12218198,
        -0.0882385 , -0.5393221 , -0.39571994, -0.31087913, -0.23838436,
         0.49416711, -0.99940018],
       [ 0.30768633, -0.73310834, -1.01816804,  0.74983117,  0.07261016,
        -0.03517999,  2.40079294, -0.39571994, -0.31087913, -0.23838436,
         0.49416711,  1.00060018],
       [-0.24799666, -0.73310834,  0.07804703, -0.70894244,  0.00767945,
        -0.14129701,  2.40079294, -0.39571994, -0.31087913, -0.23838436,
        -2.02360695,  1.00060018],
       [-0.74815189,  1.36405487,  0.56525373,  0.54143494,  0.13754088,
         0.01787852, -0.5393221 , -0.39571994, -0.31087913, -0.23838436,
         0.49416711,  1.00060018],
       [-0.8085434 , -0.73310834, -1.01816804, -1.26466572, -0.18711269,
        -0.19435552, -0.5393221 , -0.39571994, -0.31087913, -0.23838436,
        -2.02360695, -0.99940018]])

In [20]:
print(np.mean(data_scaled[:,0]))
print(np.std(data_scaled[:,0]))

5.272227099339944e-16
1.0

In [21]:
## Implement SVC

In [22]:
from sklearn.svm import SVC
model = SVC(kernel='linear')

In [ ]:
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)
results = pd.DataFrame({
   "Prediction": y_pred,
   "Actual": y_test
}).reset_index(drop=True)
results.head()

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

In [ ]:
print(classification_report(y_test, y_pred))