# Predicting Cardiovascular Disease

In [1]:
# Initial imports
import pandas as pd
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
import sqlalchemy

In [2]:
from config import db_password

In [3]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/diabetes_data"

In [24]:
engine = create_engine(db_string)
session = Session(engine)

In [25]:
base = automap_base()
base.prepare(engine, reflect=True)

In [26]:
table = base.classes.merged_cardio_train
print(table)

<class 'sqlalchemy.ext.automap.merged_cardio_train'>

In [28]:
query = session.query(table)

In [29]:
# Convert to DataFrame
cardio_df = pd.read_sql(query.statement, engine)
cardio_df.head()

,person,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_to_years,age_group
0,0,18393,2,168.0,62.0,110.0,80.0,1.0,1.0,0,0,1,0,50,46 to 50
1,1,20228,1,156.0,85.0,140.0,90.0,3.0,1.0,0,0,1,1,55,51 to 55
2,2,18857,1,165.0,64.0,130.0,70.0,3.0,1.0,0,0,0,1,52,51 to 55
3,3,17623,2,169.0,82.0,150.0,100.0,1.0,1.0,0,0,1,1,48,46 to 50
4,4,17474,1,156.0,56.0,100.0,60.0,1.0,1.0,0,0,0,0,48,46 to 50

 ## Clean the data

In [31]:
cardio_df.set_index('person', inplace=True)
cardio_df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_to_years,age_group
person,,,,,,,,,,,,,,
0,18393,2,168.0,62.0,110.0,80.0,1.0,1.0,0,0,1,0,50,46 to 50
1,20228,1,156.0,85.0,140.0,90.0,3.0,1.0,0,0,1,1,55,51 to 55
2,18857,1,165.0,64.0,130.0,70.0,3.0,1.0,0,0,0,1,52,51 to 55
3,17623,2,169.0,82.0,150.0,100.0,1.0,1.0,0,0,1,1,48,46 to 50
4,17474,1,156.0,56.0,100.0,60.0,1.0,1.0,0,0,0,0,48,46 to 50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99993,19240,2,168.0,76.0,120.0,80.0,1.0,1.0,1,0,1,0,53,51 to 55
99995,22601,1,158.0,126.0,140.0,90.0,2.0,2.0,0,0,1,1,62,61 to 65
99996,19066,2,183.0,105.0,180.0,90.0,3.0,1.0,0,1,0,1,52,51 to 55
99998,22431,1,163.0,72.0,135.0,80.0,1.0,2.0,0,0,0,1,61,61 to 65
99999,20540,1,170.0,72.0,120.0,80.0,2.0,1.0,0,0,1,0,56,56 to 60

In [32]:
# Columns
cardio_df.columns

Index(['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol',
       'gluc', 'smoke', 'alco', 'active', 'cardio', 'age_to_years',
       'age_group'],
      dtype='object')

In [33]:
#Type of data
cardio_df.dtypes

age               int64
gender            int64
height          float64
weight          float64
ap_hi           float64
ap_lo           float64
cholesterol     float64
gluc            float64
smoke             int64
alco              int64
active            int64
cardio            int64
age_to_years      int64
age_group        object
dtype: object

In [35]:
#Find null values
for column in cardio_df.columns:
    print(f"Column {column} has {cardio_df[column].isnull().sum()} null values" )

Column age has 0 null values
Column gender has 0 null values
Column height has 0 null values
Column weight has 0 null values
Column ap_hi has 0 null values
Column ap_lo has 0 null values
Column cholesterol has 0 null values
Column gluc has 0 null values
Column smoke has 0 null values
Column alco has 0 null values
Column active has 0 null values
Column cardio has 0 null values
Column age_to_years has 0 null values
Column age_group has 0 null values

In [ ]:
cardio_df.drop(columns=["age_group"],inplace=True)

In [38]:
cardio_df.drop(columns=["age"],inplace=True)
cardio_df.head()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_to_years
person,,,,,,,,,,,,
0,2,168.0,62.0,110.0,80.0,1.0,1.0,0,0,1,0,50
1,1,156.0,85.0,140.0,90.0,3.0,1.0,0,0,1,1,55
2,1,165.0,64.0,130.0,70.0,3.0,1.0,0,0,0,1,52
3,2,169.0,82.0,150.0,100.0,1.0,1.0,0,0,1,1,48
4,1,156.0,56.0,100.0,60.0,1.0,1.0,0,0,0,0,48

In [40]:
# Define features set
X = cardio_df.copy()
X = X.drop("cardio", axis=1)
X.head()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,age_to_years
person,,,,,,,,,,,
0,2,168.0,62.0,110.0,80.0,1.0,1.0,0,0,1,50
1,1,156.0,85.0,140.0,90.0,3.0,1.0,0,0,1,55
2,1,165.0,64.0,130.0,70.0,3.0,1.0,0,0,0,52
3,2,169.0,82.0,150.0,100.0,1.0,1.0,0,0,1,48
4,1,156.0,56.0,100.0,60.0,1.0,1.0,0,0,0,48

In [41]:
# Define target vector
y = cardio_df["cardio"].values.reshape(-1, 1)
y[:5]

array([[0],
       [1],
       [1],
       [1],
       [0]])

### Split our data into training and testing

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [43]:
## Scale the data

In [44]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create a Decision Tree Model

In [45]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [46]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

In [47]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [48]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         5629         3132
Actual 1         3200         5539

Accuracy Score : 0.6381714285714286
Classification Report
              precision    recall  f1-score   support

           0       0.64      0.64      0.64      8761
           1       0.64      0.63      0.64      8739

    accuracy                           0.64     17500
   macro avg       0.64      0.64      0.64     17500
weighted avg       0.64      0.64      0.64     17500