# Predicting Cardiovascular Disease

In [1]:
# Initial imports.
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
import sqlalchemy
from config import db_password

In [2]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/diabetes_data"
engine = create_engine(db_string)
session = Session(engine)
base = automap_base()
base.prepare(engine, reflect=True)
table = base.classes.merged_cardio_train
print(table)
query = session.query(table)
# Convert to DataFrame
df = pd.read_sql(query.statement, engine)
df.head()

<class 'sqlalchemy.ext.automap.merged_cardio_train'>

,person,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_to_years,age_group
0,0,18393,2,168.0,62.0,110.0,80.0,1.0,1.0,0,0,1,0,50,46 to 50
1,1,20228,1,156.0,85.0,140.0,90.0,3.0,1.0,0,0,1,1,55,51 to 55
2,2,18857,1,165.0,64.0,130.0,70.0,3.0,1.0,0,0,0,1,52,51 to 55
3,3,17623,2,169.0,82.0,150.0,100.0,1.0,1.0,0,0,1,1,48,46 to 50
4,4,17474,1,156.0,56.0,100.0,60.0,1.0,1.0,0,0,0,0,48,46 to 50

 ## Clean the data

In [3]:
df.set_index('person', inplace=True)
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_to_years,age_group
person,,,,,,,,,,,,,,
0,18393,2,168.0,62.0,110.0,80.0,1.0,1.0,0,0,1,0,50,46 to 50
1,20228,1,156.0,85.0,140.0,90.0,3.0,1.0,0,0,1,1,55,51 to 55
2,18857,1,165.0,64.0,130.0,70.0,3.0,1.0,0,0,0,1,52,51 to 55
3,17623,2,169.0,82.0,150.0,100.0,1.0,1.0,0,0,1,1,48,46 to 50
4,17474,1,156.0,56.0,100.0,60.0,1.0,1.0,0,0,0,0,48,46 to 50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99993,19240,2,168.0,76.0,120.0,80.0,1.0,1.0,1,0,1,0,53,51 to 55
99995,22601,1,158.0,126.0,140.0,90.0,2.0,2.0,0,0,1,1,62,61 to 65
99996,19066,2,183.0,105.0,180.0,90.0,3.0,1.0,0,1,0,1,52,51 to 55
99998,22431,1,163.0,72.0,135.0,80.0,1.0,2.0,0,0,0,1,61,61 to 65
99999,20540,1,170.0,72.0,120.0,80.0,2.0,1.0,0,0,1,0,56,56 to 60

In [4]:
# Columns
df.columns

Index(['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol',
       'gluc', 'smoke', 'alco', 'active', 'cardio', 'age_to_years',
       'age_group'],
      dtype='object')

In [5]:
#Type of data
df.dtypes

age               int64
gender            int64
height          float64
weight          float64
ap_hi           float64
ap_lo           float64
cholesterol     float64
gluc            float64
smoke             int64
alco              int64
active            int64
cardio            int64
age_to_years      int64
age_group        object
dtype: object

In [6]:
#Find null values
for column in df.columns:
    print(f"Column {column} has {df[column].isnull().sum()} null values" )

Column age has 0 null values
Column gender has 0 null values
Column height has 0 null values
Column weight has 0 null values
Column ap_hi has 0 null values
Column ap_lo has 0 null values
Column cholesterol has 0 null values
Column gluc has 0 null values
Column smoke has 0 null values
Column alco has 0 null values
Column active has 0 null values
Column cardio has 0 null values
Column age_to_years has 0 null values
Column age_group has 0 null values

In [8]:
df.drop(columns=["age","age_group"],inplace=True)
df.head()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_to_years
person,,,,,,,,,,,,
0,2,168.0,62.0,110.0,80.0,1.0,1.0,0,0,1,0,50
1,1,156.0,85.0,140.0,90.0,3.0,1.0,0,0,1,1,55
2,1,165.0,64.0,130.0,70.0,3.0,1.0,0,0,0,1,52
3,2,169.0,82.0,150.0,100.0,1.0,1.0,0,0,1,1,48
4,1,156.0,56.0,100.0,60.0,1.0,1.0,0,0,0,0,48

In [9]:
# Define the features set.
X = df.copy()
X = X.drop("cardio", axis=1)
X.head()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,age_to_years
person,,,,,,,,,,,
0,2,168.0,62.0,110.0,80.0,1.0,1.0,0,0,1,50
1,1,156.0,85.0,140.0,90.0,3.0,1.0,0,0,1,55
2,1,165.0,64.0,130.0,70.0,3.0,1.0,0,0,0,52
3,2,169.0,82.0,150.0,100.0,1.0,1.0,0,0,1,48
4,1,156.0,56.0,100.0,60.0,1.0,1.0,0,0,0,48

In [10]:
# Define the target set.
y = df["cardio"].ravel()
y[:15]

array([0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0])

### Split our data into training and testing

In [11]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Scale the data

In [13]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create a Random Forest Model

In [14]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

## Fit (train) or model using the training data

In [15]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

## Make predictions

In [17]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

## Evaluate the Model

In [18]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         6216         2545
Actual 1         2506         6233

In [19]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.7113714285714285

In [20]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         6216         2545
Actual 1         2506         6233

Accuracy Score : 0.7113714285714285
Classification Report
              precision    recall  f1-score   support

           0       0.71      0.71      0.71      8761
           1       0.71      0.71      0.71      8739

    accuracy                           0.71     17500
   macro avg       0.71      0.71      0.71     17500
weighted avg       0.71      0.71      0.71     17500

## Rate the importance of features or independent variables

In [21]:
# Calculate feature importance in the Random Forest model.
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.2331535253984933, 'weight'),
 (0.21300143865004753, 'height'),
 (0.18319895611938497, 'ap_hi'),
 (0.15705778680878912, 'age_to_years'),
 (0.0993892627380269, 'ap_lo'),
 (0.04127797230403736, 'cholesterol'),
 (0.019259263576943863, 'gluc'),
 (0.0191998506061089, 'gender'),
 (0.015614458841626332, 'active'),
 (0.010105205128734474, 'smoke'),
 (0.008742279827807281, 'alco')]

## Drop the lower rated columns and see if score improves

In [22]:
# Remove the "Smoke" column. 
df.drop(columns=["smoke"],inplace=True)
df.head()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,alco,active,cardio,age_to_years
person,,,,,,,,,,,
0,2,168.0,62.0,110.0,80.0,1.0,1.0,0,1,0,50
1,1,156.0,85.0,140.0,90.0,3.0,1.0,0,1,1,55
2,1,165.0,64.0,130.0,70.0,3.0,1.0,0,0,1,52
3,2,169.0,82.0,150.0,100.0,1.0,1.0,0,1,1,48
4,1,156.0,56.0,100.0,60.0,1.0,1.0,0,0,0,48

In [23]:
# Remove the "alco" column. 
df.drop(columns=["alco"],inplace=True)
df.head()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,active,cardio,age_to_years
person,,,,,,,,,,
0,2,168.0,62.0,110.0,80.0,1.0,1.0,1,0,50
1,1,156.0,85.0,140.0,90.0,3.0,1.0,1,1,55
2,1,165.0,64.0,130.0,70.0,3.0,1.0,0,1,52
3,2,169.0,82.0,150.0,100.0,1.0,1.0,1,1,48
4,1,156.0,56.0,100.0,60.0,1.0,1.0,0,0,48

In [24]:
# Define the features set.
X = df.copy()
X = X.drop("cardio", axis=1)
X.head()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,active,age_to_years
person,,,,,,,,,
0,2,168.0,62.0,110.0,80.0,1.0,1.0,1,50
1,1,156.0,85.0,140.0,90.0,3.0,1.0,1,55
2,1,165.0,64.0,130.0,70.0,3.0,1.0,0,52
3,2,169.0,82.0,150.0,100.0,1.0,1.0,1,48
4,1,156.0,56.0,100.0,60.0,1.0,1.0,0,48

In [25]:
# Define the target set.
y = df["cardio"].ravel()
y[:15]

array([0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0])

In [26]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [27]:
# Scale the data

In [28]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create a Random Forest Model

In [31]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

## Fit (train) or model using the training data

In [32]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

## Make predictions

In [33]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

## Evaluate the Model

In [34]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         6181         2580
Actual 1         2503         6236

In [35]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.7095428571428571

In [36]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         6181         2580
Actual 1         2503         6236

Accuracy Score : 0.7095428571428571
Classification Report
              precision    recall  f1-score   support

           0       0.71      0.71      0.71      8761
           1       0.71      0.71      0.71      8739

    accuracy                           0.71     17500
   macro avg       0.71      0.71      0.71     17500
weighted avg       0.71      0.71      0.71     17500