# Predicting Cardiovascular Disease

In [4]:
#Import Modules
from path import Path
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
import sqlalchemy
from config import db_password

In [5]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/diabetes_data"
engine = create_engine(db_string)
session = Session(engine)
base = automap_base()
base.prepare(engine, reflect=True)
table = base.classes.merged_cardio_train
print(table)
query = session.query(table)
# Convert to DataFrame
df = pd.read_sql(query.statement, engine)
df.head()

<class 'sqlalchemy.ext.automap.merged_cardio_train'>

,person,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_to_years,age_group
0,0,18393,2,168.0,62.0,110.0,80.0,1.0,1.0,0,0,1,0,50,46 to 50
1,1,20228,1,156.0,85.0,140.0,90.0,3.0,1.0,0,0,1,1,55,51 to 55
2,2,18857,1,165.0,64.0,130.0,70.0,3.0,1.0,0,0,0,1,52,51 to 55
3,3,17623,2,169.0,82.0,150.0,100.0,1.0,1.0,0,0,1,1,48,46 to 50
4,4,17474,1,156.0,56.0,100.0,60.0,1.0,1.0,0,0,0,0,48,46 to 50

 ## Clean the data

In [6]:
df.set_index('person', inplace=True)
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_to_years,age_group
person,,,,,,,,,,,,,,
0,18393,2,168.0,62.0,110.0,80.0,1.0,1.0,0,0,1,0,50,46 to 50
1,20228,1,156.0,85.0,140.0,90.0,3.0,1.0,0,0,1,1,55,51 to 55
2,18857,1,165.0,64.0,130.0,70.0,3.0,1.0,0,0,0,1,52,51 to 55
3,17623,2,169.0,82.0,150.0,100.0,1.0,1.0,0,0,1,1,48,46 to 50
4,17474,1,156.0,56.0,100.0,60.0,1.0,1.0,0,0,0,0,48,46 to 50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99993,19240,2,168.0,76.0,120.0,80.0,1.0,1.0,1,0,1,0,53,51 to 55
99995,22601,1,158.0,126.0,140.0,90.0,2.0,2.0,0,0,1,1,62,61 to 65
99996,19066,2,183.0,105.0,180.0,90.0,3.0,1.0,0,1,0,1,52,51 to 55
99998,22431,1,163.0,72.0,135.0,80.0,1.0,2.0,0,0,0,1,61,61 to 65
99999,20540,1,170.0,72.0,120.0,80.0,2.0,1.0,0,0,1,0,56,56 to 60

In [7]:
# Columns
df.columns

Index(['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol',
       'gluc', 'smoke', 'alco', 'active', 'cardio', 'age_to_years',
       'age_group'],
      dtype='object')

In [8]:
#Type of data
df.dtypes

age               int64
gender            int64
height          float64
weight          float64
ap_hi           float64
ap_lo           float64
cholesterol     float64
gluc            float64
smoke             int64
alco              int64
active            int64
cardio            int64
age_to_years      int64
age_group        object
dtype: object

In [9]:
#Find null values
for column in df.columns:
    print(f"Column {column} has {df[column].isnull().sum()} null values" )

Column age has 0 null values
Column gender has 0 null values
Column height has 0 null values
Column weight has 0 null values
Column ap_hi has 0 null values
Column ap_lo has 0 null values
Column cholesterol has 0 null values
Column gluc has 0 null values
Column smoke has 0 null values
Column alco has 0 null values
Column active has 0 null values
Column cardio has 0 null values
Column age_to_years has 0 null values
Column age_group has 0 null values

In [10]:
df.drop(columns=["age","age_group"],inplace=True)
df.head()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_to_years
person,,,,,,,,,,,,
0,2,168.0,62.0,110.0,80.0,1.0,1.0,0,0,1,0,50
1,1,156.0,85.0,140.0,90.0,3.0,1.0,0,0,1,1,55
2,1,165.0,64.0,130.0,70.0,3.0,1.0,0,0,0,1,52
3,2,169.0,82.0,150.0,100.0,1.0,1.0,0,0,1,1,48
4,1,156.0,56.0,100.0,60.0,1.0,1.0,0,0,0,0,48

In [11]:
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

In [12]:
data_scaled = data_scaler.fit_transform(df)

In [13]:
data_scaled[:5]

array([[ 1.36405487,  0.44345206, -0.84787326, -0.12218198, -0.0882385 ,
        -0.5393221 , -0.39571994, -0.31087913, -0.23838436,  0.49416711,
        -0.99940018, -0.48862388],
       [-0.73310834, -1.01816804,  0.74983117,  0.07261016, -0.03517999,
         2.40079294, -0.39571994, -0.31087913, -0.23838436,  0.49416711,
         1.00060018,  0.25100772],
       [-0.73310834,  0.07804703, -0.70894244,  0.00767945, -0.14129701,
         2.40079294, -0.39571994, -0.31087913, -0.23838436, -2.02360695,
         1.00060018, -0.19277124],
       [ 1.36405487,  0.56525373,  0.54143494,  0.13754088,  0.01787852,
        -0.5393221 , -0.39571994, -0.31087913, -0.23838436,  0.49416711,
         1.00060018, -0.78447651],
       [-0.73310834, -1.01816804, -1.26466572, -0.18711269, -0.19435552,
        -0.5393221 , -0.39571994, -0.31087913, -0.23838436, -2.02360695,
        -0.99940018, -0.78447651]])

In [14]:
print(np.mean(data_scaled[:,0]))
print(np.std(data_scaled[:,0]))

-1.644398902759089e-16
1.0

In [15]:
y = df["cardio"]
X = df.drop(columns="cardio")

### Split our data into training and testing

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(52500, 11)

# Create a SVM

In [17]:
from sklearn.svm import SVC
model = SVC(kernel='linear')

## Fit (train) or model using the training data - Fitting took a very long time

In [ ]:
model.fit(X_train, y_train)

## Make predictions

In [16]:
y_pred = model.predict(X_test)
results = pd.DataFrame({
   "Prediction": y_pred,
   "Actual": y_test
}).reset_index(drop=True)
results.head()

   Prediction  Actual
0           1       0
1           1       1
2           0       0
3           1       1
4           1       1

In [17]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.7221714285714286

In [18]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[6611 2144]
 [2718 6027]]

In [19]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.71      0.76      0.73      8755
           1       0.74      0.69      0.71      8745

    accuracy                           0.72     17500
   macro avg       0.72      0.72      0.72     17500
weighted avg       0.72      0.72      0.72     17500