# Predicting Cardiovascular Disease

In [3]:
#Import Modules
from path import Path
import pandas as pd

In [4]:
# Import csv file 
data = Path('/Users/Maryam/Desktop/utor-virt-data-pt-06-2020-u-b/Final project/cardio_train_sample.csv')
df = pd.read_csv(data)
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

 ## Separate the Features (X) from the Target (y)

In [5]:
# Columns
df.columns

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [6]:
#Type of data
df.dtypes

id               int64
age              int64
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
gluc             int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object

In [7]:
#Find null values
for column in df.columns:
    print(f"Column {column} has {df[column].isnull().sum()} null values" )

Column id has 0 null values
Column age has 0 null values
Column gender has 0 null values
Column height has 0 null values
Column weight has 0 null values
Column ap_hi has 0 null values
Column ap_lo has 0 null values
Column cholesterol has 0 null values
Column gluc has 0 null values
Column smoke has 0 null values
Column alco has 0 null values
Column active has 0 null values
Column cardio has 0 null values

In [6]:
y = df["cardio"]
X = df.drop(columns="cardio")

### Split our data into training and testing

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(525, 12)

# Create a Logistic Regression Model

In [18]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=1000,
                                random_state=1)

## Fit (train) or model using the training data

In [19]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=1)

## Make predictions

In [20]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            1       1
1            0       1
2            0       1
3            1       1
4            0       1
5            1       1
6            0       0
7            0       1
8            1       0
9            1       1
10           0       1
11           1       1
12           1       1
13           0       0
14           0       0
15           0       0
16           0       1
17           0       0
18           1       1
19           1       1

In [21]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.7085714285714285