# Predicting Cardiovascular Disease

In [1]:
# Initial imports.
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Import csv file 
data = Path('/Users/Maryam/Desktop/utor-virt-data-pt-06-2020-u-b/cardio_final_project/cardio_train.csv')
df = pd.read_csv(data)
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

 ## Clean the data

In [3]:
df.set_index('id', inplace=True)
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [4]:
# Columns
df.columns

Index(['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol',
       'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [5]:
#Type of data
df.dtypes

age              int64
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
gluc             int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object

In [6]:
#Find null values
for column in df.columns:
    print(f"Column {column} has {df[column].isnull().sum()} null values" )

Column age has 0 null values
Column gender has 0 null values
Column height has 0 null values
Column weight has 0 null values
Column ap_hi has 0 null values
Column ap_lo has 0 null values
Column cholesterol has 0 null values
Column gluc has 0 null values
Column smoke has 0 null values
Column alco has 0 null values
Column active has 0 null values
Column cardio has 0 null values

In [7]:
# Define the features set.
X = df.copy()
X = X.drop("cardio", axis=1)
X.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
id,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1
1,20228,1,156,85.0,140,90,3,1,0,0,1
2,18857,1,165,64.0,130,70,3,1,0,0,0
3,17623,2,169,82.0,150,100,1,1,0,0,1
4,17474,1,156,56.0,100,60,1,1,0,0,0

In [8]:
# Define the target set.
y = df["cardio"].ravel()
y[:15]

array([0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0])

### Split our data into training and testing

In [10]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Scale the data

In [12]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create a Random Forest Model

In [23]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

## Fit (train) or model using the training data

In [24]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

## Make predictions

In [25]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
predictions

array([1, 1, 0, ..., 1, 1, 0])

## Evaluate the Model

In [26]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         6351         2410
Actual 1         2496         6243

In [27]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.7196571428571429

In [28]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         6351         2410
Actual 1         2496         6243

Accuracy Score : 0.7196571428571429
Classification Report
              precision    recall  f1-score   support

           0       0.72      0.72      0.72      8761
           1       0.72      0.71      0.72      8739

    accuracy                           0.72     17500
   macro avg       0.72      0.72      0.72     17500
weighted avg       0.72      0.72      0.72     17500

## Rate the importance of features or independent variables

In [29]:
# Calculate feature importance in the Random Forest model.
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.3077533349591035, 'age'),
 (0.17305363833138382, 'weight'),
 (0.17022806743079083, 'ap_hi'),
 (0.1567988733535348, 'height'),
 (0.0912284971951988, 'ap_lo'),
 (0.038626976441671096, 'cholesterol'),
 (0.01671253640640032, 'gluc'),
 (0.015822173754953768, 'gender'),
 (0.01344354865787502, 'active'),
 (0.008798804854010736, 'smoke'),
 (0.0075335486150774214, 'alco')]

## Drop the lower rated columns and see if score improves

In [30]:
# Remove the "Smoke" column. 
df.drop(columns=["smoke"],inplace=True)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,alco,active,cardio
id,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0

In [31]:
# Remove the "alco" column. 
df.drop(columns=["alco"],inplace=True)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,active,cardio
id,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,1,0
1,20228,1,156,85.0,140,90,3,1,1,1
2,18857,1,165,64.0,130,70,3,1,0,1
3,17623,2,169,82.0,150,100,1,1,1,1
4,17474,1,156,56.0,100,60,1,1,0,0

In [32]:
# Define the features set.
X = df.copy()
X = X.drop("cardio", axis=1)
X.head()

      age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  active
id
0   18393       2     168    62.0    110     80            1     1       1
1   20228       1     156    85.0    140     90            3     1       1
2   18857       1     165    64.0    130     70            3     1       0
3   17623       2     169    82.0    150    100            1     1       1
4   17474       1     156    56.0    100     60            1     1       0

In [33]:
# Define the target set.
y = df["cardio"].ravel()
y[:15]

array([0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0])

In [34]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [35]:
# Scale the data

In [36]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create a Random Forest Model

In [37]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

## Fit (train) or model using the training data

In [38]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

## Make predictions

In [39]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
predictions

array([1, 1, 0, ..., 1, 1, 0])

## Evaluate the Model

In [40]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         6329         2432
Actual 1         2498         6241

In [41]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.7182857142857143

In [42]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         6329         2432
Actual 1         2498         6241

Accuracy Score : 0.7182857142857143
Classification Report
              precision    recall  f1-score   support

           0       0.72      0.72      0.72      8761
           1       0.72      0.71      0.72      8739

    accuracy                           0.72     17500
   macro avg       0.72      0.72      0.72     17500
weighted avg       0.72      0.72      0.72     17500